<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.soundbytes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundBytes">
        <activity android:name=".SearchActivity" android:label="@string/search" />
        <activity android:name=".BuyOnlineActivity" android:label="@string/search"/>
        <activity android:name=".DetailInfoActivity" android:label="@string/detail_info"/>
        <activity android:name=".RadiofmActivity" android:label="@string/radiofm"/>
        <activity android:name=".KarookeActivity" android:label="@string/karooke"/>
        <activity android:name=".NowPlayingActivity" android:label="@string/now_playing"/>
        <activity android:name=".MusicLibraryActivity" android:label="@string/library"/>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>